body{
    font-family: 'Lato', sans-serif;
    margin: auto;
}
nav{
    background: #00dac7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff;

}
.logo{
    /* margin-left: 5%; */
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.titulo{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}
.separador-titulo{
    width: 60%;
    margin-bottom: 30px;
}
h1{
    font-weight: 700;
}

p{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    width: 90%;
    /* padding: 10px; */
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background: rgb(245, 245, 245);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgb(182, 182, 182) ;
    width: 24%;
    box-sizing: border-box;
}
.precio{
    font-size: 50px;
    color: #00dac7;
    font-weight: 400;
}

.btn-precio{
    background:#00dac7;
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 15px;
    margin: 10px;
    font-weight: 700;
    
}
.btn-precio:hover{
    background: lightsteelblue;
}

@media (max-width: 960px){
    .columna{
        width: 47%;
        margin-bottom: 20px;
    }
    .titulo{
        font-size: 36px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
    }
    .titulo{
        font-size: 32px;
    }
}
